body{
	background-color: #009999;
}

.box{
	width: 99%;
	height: 100px;
	background-color: 	  #00cccc;
	border: 3px  solid   #33ffff;
 	float: left;
 	clear: left;
	text-align: center;
}
.box2{
	width: 21.5%;
	height: 400px;
	background-color: 	  #00cccc;
	border: 1px  solid   #33ffff;
 	float: left;
 	text-align: center;
 }
.box3{
	width: 56%;
	height: 400px;
	background-color: 	  #00cccc;
	border: 1px  solid   #33ffff;
 	float: left;
 	clear: right;
 	text-align: center;
}