body{
	background-color: #009999;
}

.box{
	width: 99%;
	height: 100px;
	background-color: 	  #00cccc;
	border: 2px  solid   #33ffff;
 	float: left;
 	clear: left;

}
.box2{
	width: 21%;
	height: 400px;
	background-color: 	  #00cccc;
	border: 1px  solid   #33ffff;
 	float: left;
 }
.box3{
	width: 78%;
	height: 400px;
	background-color: 	  #00cccc;
	border: 1px  solid   #33ffff;
 	float: left;
 	clear: right;
}