body{
	background-color: yellow;
}
h1{
	background-color: aqua;
	width: 50%;
	border: 2px;
	border-style: solid;
	padding: 3px;
	text-align: center;
}
div{
	background-color: green;
}
p{
	background-color: #999966;
	width: 25%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin: 100px;
	text-align: justify;
}

.divp{
	background-color: magenta;
	width: 25%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin: 0px;
	text-align: justify;
}
#unico {	
	background-color: aqua;
	width: 10%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin: 25px;
	text-align: justify;
}