body{background-color: #666699;

}

.box{
	width: 200px;
	height: 200px;
	background-color: 	 #b3b3cc;
	border: 1px  solid  #47476b;
 	float: left;
 
}
.box2{
	width: 200px;
	height: 200px;
	background-color: 	 #b3b3cc;
	border: 1px  solid  #47476b;
 	float: left;
 	clear: left;
}