body{
	background-color: #66ccff;
}

.header	{
	background-color: #0099ff;
	width: 99%;
	height: 10%; 
	margin: 0px;
	border: 3px;
	margin-left: 2px;
	border-style: solid;
	border-radius: 10px;
	text-align: center;

}

.art{
	background-color: #0099ff;
	width: 32%;
	height: 30em; 
	margin: 5px;
	float: right;
	border: 3px;
	border-style: solid;
	border-radius: 10px;
	text-align: center;
}
.aside{
	background-color: #0099ff;
	width: 65%;
	height: 30em; 
	margin: 5px;
	float: left;
	border: 3px;
	border-style: solid;
	border-radius: 10px;	 
	text-align: center;

}
.foot
{
	background-color: #0099ff;
	width: 99%;
	height: 10%; 
	margin: 0px;
	float: left;
	border: 3px;
	border-style: solid;
	border-radius: 10px;
	margin-left: 2px;
	margin-top: 10px;
	text-align: center;
}
.nav{
	background-color: #0099ff;
	width: 19%;
	height: 10%; 
	margin: 3px;
	border: 3px;
	border-style: solid;
	border-radius: 10px;
	float: left;
	margin-top: 10px;
	text-align: center;
	
}

p{
	background-color: aqua;
	width: 50%;
	height: 20%;
	border: 5px;
	border-style: double;
	margin: 25px;
	text-align: justify;
	border-radius: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}/*para los parrafos*/
