body{
	background-color:  #e0e0eb;
}

.carousel-img{
	width: 100%;
	height: 500px;
}

.img-enter{
	width: 80%;
	height: 350px;
}

.people{
	margin-top: 5px;
}
p{
	text-align: justify;
}
main{
	margin-top: 56px;
}
h1{
	color: #000000;
	text-shadow: 0 0 25px #ff9900, 0 0 25px #ff9900;
	
}
.carousel-caption {
    top: 0;
    bottom: auto;
}

#seg{
	top: auto;
    bottom:0;
}
#four{
	top: auto;
    bottom: 0;
}
#ffgal{
	height:400px; 
	width:400px;
	margin: 10px;
}