p.inicio{color: red;} /*forma de cascada no tiene jerarquia de orden
p es el selector, selector de clase para especificar
puedes usar id´s para diferenciar, elemento de propiedad 
color es una de ellas  */
p#qwe{color: green;font-size: 50pt;}

h1{ color: rgba(255, 0, 0,1); border: 2px; border-style: solid; border-color: green; }
h3{background-color: aqua;}
p{background-color: #99ff66;}
