body{
	background-color:  #e0e0eb;
}

.carousel-img{
	width: 100%;
	height: 500px;
}

.img-enter{
	width: 100%;
	height: 200px;
}

.people{
	margin-top: 5px;
}
p{
	text-align: justify;
}
.img-seg{
	width: 100%;
	height: 90%;
}
main{
	margin-top: 100px;
}
