body{
	background-color: white;

}

.logo{
	background-color:  #b3b3ff;
	float: left;
	width: 24%;
	height: 10em; 
	margin: 5px;

}
header{
	background-color:   #8080ff;
	float: left;
	width: 73%;
	height: 10em; 
	margin: 5px;

}
.menu{
	background-color:   #ffbf80;
	float: left;
	clear: left;
	width: 24%;
	height: 30em;
	margin: 5px;
}

.content{
	background-color:  #d9d9d9;
	float: left;
	width: 73%;
	height: 30em;
	margin: 5px;
	
}

footer{
	background-color:   #aaff80;
	float: left;
	clear: left;
	width: 98%;
	height: 10em;
	margin: 5px;

}

h1{
	text-align: center;
	vertical-align: center;
}