body{
	overflow-x: hidden;
}
#rosa{
	background-color: #ff0066;
}
#c8{
	background-color:  #ff9933;
}
#c4{
	background-color:  #ffff00;
	height: 20em;
}
div{
	border: 2px solid white;
}
.mh1 {
	height: 40em;
}

.mh2 {
	height: 9.9em;
}
